
<h1><a href="/">{{user.username}}</a></h1>
<a href="/profile" id="change-profile">Change Profile</a>
<div id="canvas-container">
  <h2 id="data-label"></h2>
  <a href="javascript:client.closeCanvas()" id="close-canvas">&times;</a>
  <div id="data-canvas"></div>
</div>
<form method="post" action="/records">
  <input type="hidden" name="user" id="user" value="{{user.id}}" />
  <input type="hidden" name="id" id="id" value="0" />
  <table id="data-table"></table>
  <input type="submit" value="Submit" />
</form>
