@import "main.less";

body, input {
  font:13px "Lucida Grande", Helvetica, Arial, sans-serif;
  color:#aaa;
  background-color:#000;
}

input[type=button]:hover,
input[type=reset]:hover,
input[type=submit]:hover {
  background-color:#333;
}

.date {
  background-color:#333;
}
