@import "main.less";

body, input {
  font:13px "Lucida Grande", Helvetica, Arial, sans-serif;
  color:#555;
  background-color:#fff;
}

input[type=button]:hover,
input[type=reset]:hover,
input[type=submit]:hover {
  background-color:#eee;
}

.date {
  background-color:#eee;
}
